<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>eVault - a blockchain-based storage system for legal records</title>

		<script src="https://unpkg.com/htmx.org"></script>
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="static/scripts/wallet.js"></script>
	</head>
	<body>
		<button class="px-3 py-1 bg-blue-600 text-white ml-4" id="loginBtn" onclick="toggleMetaMaskConnection()">
			Toggle MetaMask Connection
		</button>
		<button
			class="px-3 py-1 bg-blue-600 text-white ml-4"
			id="logoutBtn"
			onclick="disconnectFromMetaMask()"
			style="display: none"
		>
			Logout from MetaMask
		</button>
		<div id="walletBalance" style="display: none"></div>

		<script>
			let isMetaMaskConnected = false;

			async function toggleMetaMaskConnection() {
				if (isMetaMaskConnected) {
					await disconnectFromMetaMask();
				} else {
					await connectToMetaMask();
				}
			}
		</script>
	</body>
</html>
