<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>eVault - a blockchain-based storage system for legal records</title>
		<script src="https://unpkg.com/htmx.org"></script>
		<script src="static/scripts/wallet.js"></script>
		<script src="static/scripts/auth.js"></script>
	</head>
	<body>
		<div id="authBtns">
			<button id="loginBtn" onclick="handleLogin()">Login using MetaMask</button>
			<button id="signupBtn" onclick="showSignupForm()">Sign Up, if you are New</button>
		</div>

		<div id="signupForm" style="display: none">
			<form id="userForm">
				<label for="name">Name:</label>
				<input type="text" id="name" name="name" required /><br />

				<label for="email">Email:</label>
				<input type="email" id="email" name="email" required /><br />

				<label for="userType">User Type:</label>
				<select id="userType" name="userType">
					<option value="1">Lawyer</option>
					<option value="2">Judge</option>
					<option value="3">Client</option></select
				><br />

				<button type="button" onclick="handleSignup()">Sign Up</button>
				<button type="button" onclick="hideSignupForm()">Cancel</button>
			</form>
		</div>

		<div id="userData" style="display: none">
			<h2>User Details</h2>
			<p id="userName"></p>
			<p id="userEmail"></p>
			<p id="userType"></p>
		</div>

		<script>
			let isMetaMaskConnected = false;
		</script>
	</body>
</html>
